<% layout('layout/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3 mb-5">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" 
                class="require-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title </label>
                    <input class='form-control' type="text" name="campground[title]" id="title"
                        value="<%=campground.title%>" required>
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground title can't be left empty</div>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="location">Location </label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%=campground.location%>" required>
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground location can't be left empty</div>
                </div>
                
                <div class="mb-3">
                    <label class='form-label' for="description">Description </label>
                    <textarea class="form-control" rows="2" cols="30" name="campground[description]"
                        id="description" required><%=campground.description%></textarea>
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground description can't be left empty</div>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="price">Campground Price </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input type="text" step="0.01" placeholder='0.00' class="form-control"
                            name="campground[price]" id="price" aria-describedby="price-label"
                            value="<%=campground.price%>"  required>
                        <div class="valid-feedback">This looks Great!</div>
                        <div class="invalid-feedback">* Campground price can't be left empty</div>
                    </div>
                </div>
                <div class="mb-3 custom-file">
                    <label for="image" class="form-label custom-file-label">Add more images...</label>
                    <input class="form-control" type="file" id="image" multiple name="image">
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {  %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <label for="image-<%=i%>">Delete?</label>
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    
                    <% })%>
                </div>
                <div class="mb-3 d-md-flex justify-content-between">
                    <a class="btn btn-dark" href="/campgrounds/<%=campground._id%>">Cancel</a>
                    <button class="btn btn-success">Save Campground</button>
                </div>
            </form>


        </div>
    </div>